{% extends 'base.html' %}
{% load static %}
{%block navbar %}
{% include 'navbar.html'%}

{% endblock %}
{% block titulo %}
<title>Inicio de sesión</title>
{% endblock titulo %}

{% block contenido %}
<div class="inicio_sesion">
  <form method="post"> {% csrf_token %}
    <section data-bs-version="5.1" class="form4 cid-tf6M1H8RDD mbr-fullscreen">
      <div class="container">
        <div class="row content-wrapper justify-content-center">
          <div class="col-lg-3 offset-lg-1 mbr-form" data-form-type="formoid">
            <div class="dragArea row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <h1 class="mbr-section-titlle mb-4 display-2"style="font-family: 'Arial', sans-serif;"><strong>Iniciar Sesión</strong></h1>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <p class="mbr-text mbr-fronts-style mb-4 display-7">Ingrese su usuario y contraseña:</p>
              </div>
              {{ form.as_p }}
              <input type="submit" value="Iniciar sesión">
            </div>
          </div>
          <div class="col-lg-7 offset-lg-1 col-12">
            <div class="image-wrapper">
              <img class="w-75" src="{% static 'img/inicio_sesion.png'%}" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
</div>
{% endblock %}